<footer>
   <% const date = new Date(); %>
   <% const res = date.getFullYear(); %>
   <h3 style="text-align: center;"> <strong>&trade; Hridesh <%= res %> | All Rights Reserved.</strong> </h3>
</footer>