body {
    background: rgb(170, 166, 166);

}

h1{
    color:rgb(255, 132, 0);
    text-align: center;
}

h2{
    color:rgb(255, 30, 0);
    text-align: center;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}

form textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}

h3{
    color:rgb(8, 53, 255)
}

.buttons{
    background-color: rgb(255, 5, 55);
    opacity:.5;
}